#h1{
    color: rgba(100,20,50,0.7);
    border: 5px;
    background-color: aqua;
    font-size: larger; 
}

#h2{
    color: rgba(100,80,50,0.2);
    border: 5px;
    background-color:violet;
    font-size: large; 
}
.red{
    color:red;

}
.blue{
    color:blue;
}
a[href="http://www.baidu.com"]{
    color:purple;
    font-weight: 200;
}
img[alt|="This is my photo"]{
    border: 10px dashed  blueviolet;
}